@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    width: 100%;
    background-color: blue;
    color: #fff;
    padding: 1%;
  }
  a{
    text-decoration: none !important;
    color: white !important;
    padding: 2px;
  }